<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
		"-//Puppy Crawl//DTD Check Configuration 1.2//EN"
		"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

	<!-- Checks for Size Violations.                    -->
	<!-- See http://checkstyle.sf.net/config_sizes.html -->
	<module name="FileLength"/>

	<module name="TreeWalker">

		<module name="MethodLength">
			<property name="tokens" value="METHOD_DEF"/>
			<property name="max" value="100"/>
		</module>

	</module>

</module>
